<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.2.0" />
  <package id="Microsoft.Extensions.Http" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" />
  <package id="Node.js" version="5.3.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="5.0.1" />
  <package id="System.Text.Json" version="5.0.2" />
</packages>